<head>
  <title>{{ title or metadata.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>